[defaults]
inventory = inventories/production/hosts.yml
roles_path = roles
collections_path = ./collection
host_key_checking = False
retry_files_enabled = False
ask_pass = True

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = True
